<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> {{ page.title | default: "EGRAPHS" }} </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
    content="The EGRAPHS community discusses e-graphs and related technologies for program optimization, verification, and synthesis.">
  <meta property="og:title" content="{{ page.title }}" />
  <link rel="icon" type="image/svg+xml" href="/assets/egraph.svg">
  <link rel="stylesheet" href="/main.css">
</head>

<body>
  <div style="text-align: center;">
    <h1 class="">
      EGRAPHS Community
    </h1>
    <nav>
      <ul>
        <li>{% include active-link.html url="/" text="Home" %}</li>
        <li>{% include active-link.html url="/meeting/" text="Community Meeting" %}</li>
        <li>{% include active-link.html url="/workshop/" text="Workshop" %}</li>
        <li>{% include active-link.html url="/zulip/" text="Zulip Chat" %}</li>
      </ul>
    </nav>
    <div class="callout">
      The
      <a href="https://pldi25.sigplan.org/home/egraphs-2025">EGRAPHS 2025</a>
      workshop will take place at PLDI 2025 in Seoul!
    </div>
  </div>

  <main>
    {{ content }}
  </main>

  {% if page.no-footer %}
  {% else %}
  <footer>
    Site last updated on {{ site.time | date: " %Y-%m-%d" }}. <a
      href="https://github.com/egraphs-community/egraphs-community.github.io/edit/main/{{page.path}}">Edit me on
      Github</a>.
  </footer>
  {% endif %}
  <script defer>
    const meetingElements = document.querySelectorAll('[data-date]');
    let currentDate = new Date();
    currentDate.setHours(0, 0, 0, 0);
    // currentDate.setDate(currentDate.getDate() + 1); // for testing

    meetingElements.forEach((meetingElement) => {
      let dateString = `${meetingElement.dataset.date}T09:00:00-0700`;
      let meetingDate = new Date(dateString);
      // console.log(dateString, meetingDate);
      meetingDate.setHours(0, 0, 0, 0);

      if (meetingDate >= currentDate) {
        meetingElement.classList.add('future');
      } else {
        meetingElement.classList.add('past');
      }
    });
  </script>
</body>

</html>