---
layout: default
---

{% assign date = page.date | date: "%Y-%m-%d" %}

<h2> {{ page.title }} </h2>

Speaker: {{ page.speaker }}

<h4> {{ date }} </h4>

<div class="callout gray hide-if-past" data-date="{{ date }}">
    Talk begins at 9am PT on Zoom.
    The Zoom link will be distributed on the <a href="/zulip">EGRAPHS Zulip</a>
    just in time for each session.
</div>


{{ content }}

{% if page.video %}
<h3> Recording </h3>
<div class="video">
    <iframe width="560" height="315" src="{{ page.video }}" frameborder="0" allowfullscreen></iframe>
</div>
{% endif %}